@font-face {
  font-family: "MyWebFont";
  src: url("../fonts/Ciutadella\ Medium.ttf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "PlainFont";
  src: url("../fonts/Boxed\ Book.otf");
}

@media only screen and (min-width: 768px) {
  .rental-main-image {
    background-image: url(../imgs/1-rental-header.png);
  }
}

body {
  font-family: "MyWebFont", Fallback, sans-serif;
}

.product:hover {
  box-shadow: 0 0px 7px 3px #e4003a;
  opacity: 2;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}
.fdb-block .fdb-touch {
  border-top: solid 5px #e4003a !important;
}

.banner {
  background-image: url("../images/output.png");
  background-size: cover;
  /* background-position-x: 80%; */
}

.text-align-start {
  text-align: start !important;
}

.banner h1 {
  color: #f5f0e0;
}
.btn {
  font-size: 0.8rem;
}
.mkd-pricing-slider {
  text-align: center;
}
.mkd-pricing-slider .mkd-pricing-slider-title {
  font-family: "MyWebFont", Fallback, sans-serif;
  font-style: italic;
  color: #707070;
  font-size: 150%;
}
.mkd-pricing-slider .mkd-pricing-slider-pricing {
  margin-bottom: 70px;
}
.mkd-pricing-slider .mkd-pricing-slider-bar-holder {
  height: 8px;
  background-color: #e4003a;
  position: relative;
  border-radius: 5px;
}
.mkd-pricing-slider .mkd-pricing-slider-value {
  position: relative;
  display: block;
  white-space: nowrap;
  padding: 0 15px;
  box-sizing: border-box;
}
.mkd-pricing-slider .mkd-pricing-slider-description {
  margin-top: 65px;
}
.mkd-pricing-slider .mkd-pricing-slider-drag {
  position: absolute;
  display: inline-block;
  font-family: "MyWebFont", Fallback, sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  height: 46px;
  line-height: 46px;
  background-color: #1fbdf2;
  top: -18px !important;
  left: 0;
  cursor: pointer;
  min-width: 135px;
  border-radius: 50px;
}
.mkd-pricing-slider .mkd-pricing-slider-priceList {
  font-family: "MyWebFont", Fallback, sans-serif;
  font-style: italic;
  color: #707070;
  display: inline-block;
  box-sizing: border-box;
}
.mkd-pricing-slider-priceList label {
  font-size: 18px;
}
hr.horizontal-line {
  border: 3px solid #9e9e9e;
  border-radius: 2px;
}

.vertical-line {
  border-left: 3px solid #9e9e9e;
  height: 48px;
  left: 50%;
  margin-left: -3px;
}

.margin-left-0 {
  margin-left: 0px !important;
}

.modal-close-button {
  padding: 15px !important;
  margin: -15px -15px -15px -15px !important;
}

.progress .progress-bar.active {
  font-weight: 700;
  animation: progress-bar-stripes 0.5s linear infinite;
}
.help-block {
  color: #e53935;
}
.dotdotdot:after {
  font-weight: 300;
  content: "...";
  display: inline-block;
  width: 20px;
  text-align: left;
  animation: dotdotdot 1.5s linear infinite;
}

.blue-background {
  background-color: #263272;
}

.light-blue-background {
  background-color: #3c4491;
  color: #f5f0e0;
}

p {
  font-family: "MyWebFont", Fallback, sans-serif;
}

@keyframes dotdotdot {
  0% {
    content: "...";
  }

  25% {
    content: "";
  }

  50% {
    content: ".";
  }

  75% {
    content: "..";
  }
}

h1 {
  /* font-family: 'Raleway', sans-serif; */
  font-family: "MyWebFont", Fallback, sans-serif;
  font-weight: 900;
  color: black;
  font-size: 34px !important;
}

h3 {
  font-family: "MyWebFont", Fallback, sans-serif;
}

a {
  font-family: "MyWebFont", Fallback, sans-serif;
}

.nav-thm-active {
  color: #263272 !important;
  font-weight: bold !important;
  border-bottom: 2px solid #e4003a !important;
  margin-top: -4px;
  display: inline-block !important;
  line-height: 1.5 !important;
}

.nav-active {
  color: #263272 !important;
}

.fab-button {
  background-color: #feb900 !important;
  z-index: 20;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  height: 56px;
  width: 56px;
}

.direction {
  direction: var(--dir) !important;
}

.direction-rtl {
  direction: rtl !important;
}

.direction-ltr {
  direction: ltr !important;
}

.change-price-color {
  color: #263272;
}

.fab-button-lg:hover {
  background-color: #feb900 !important;
  z-index: 20;
  position: fixed;
  bottom: 0px;
  right: 20px;
  padding-left: 25px;
  padding-right: 25px;
  color: black;
}

.padding-0 {
  padding: 0px !important;
}

.fab-button-lg {
  background-color: #feb900 !important;
  z-index: 20;
  position: fixed;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  bottom: 0px;
  right: 20px;
  padding-left: 25px;
  padding-right: 25px;
  color: black;
}

/* overriding font */
.fdb-block {
  /* font-family: 'Lato', sans-serif !important; */
}

.fdb-block img + p {
  margin-top: 0px;
}

.nav-link {
  font-size: 20px;
}

/* overriding on hover text color on nav bar */
.nav-link:hover {
  color: #263272 !important;
}

.lead {
  font-family: "PlainFont", Fallback, sans-serif;
}

/* secondary button */
.btn-white {
  border: none;
  background: white;
  color: #263272 !important;
}

/* gives shadow effect to added container */
.raised {
  /* border-radius: 2px;
  border: 0;
  transition: .2s ease-out;
  color: #fff;
  margin: 6px; */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.thm-ul {
  list-style-type: none;
}

.thm-ul li {
  margin-left: -40px;
}

.thm-touch-top {
  border-bottom: solid 5px #e0e0e0;
}

/* fonts */
.thm-scroll-heading {
  font-size: 22px !important;
  color: black;
  font-weight: 700 !important;
}

.thm-content-heading {
  font-size: 14px;
  font-weight: 700;
}

.thm-content-body {
  font-size: 17px !important;
}

/* --------------------------------------------- colored text */

.light-grey-text {
  color: #9e9e9e !important;
}

.grey-text {
  color: #424242 !important;
}

.black-text {
  color: black !important;
}

.grey-background {
  background: #f4f4f4;
}

.grey-1-background {
  background: #e0e0e0;
}

.white-background {
  background: white;
}

.primary-background {
  background: #263272 !important;
}

.primary-color {
  color: #263272 !important;
}

.hover:hover {
  cursor: pointer;
}

.primary-border-onhover {
  border: 1px solid transparent;
}

.primary-border-onhover:hover {
  border: 1px solid #263272;
}

.label {
  border-radius: 25px;
  padding: 8px;
}

.btn-dark {
  color: #e4003a !important;
}
.global-coliving-report {
  background-image: url(../images/world-map.svg);
  background-size: cover;
}

.co-living-content {
  color: #000000;
}
.get-report-form {
  height: fit-content;
}

.coliving-button {
  background-color: #e4003a !important;
  border-radius: 5px;
  color: #263272 !important;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  -webkit-animation: blinker 5s infinite;
  animation: blinker 1s linear infinite;
}

.coliving-button:hover {
  -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
  animation-play-state: paused;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.report-form-field label::after {
  content: "*";
  color: red;
}
.co-living-head {
  font-size: 1.5rem;
}

/* .downloadbutton>md-progress-circular {
  margin: auto;
  margin-top: -6px; If circular does not appear at the center, change this value. 
}

.downloadButton>md-progress-circular .md-half-circle {
  border-top-color: white !important;
}

.downloadButton>md-progress-circular .md-left>.md-half-circle {
  border-left-color: white;
}

.downloadButton>md-progress-circular .md-right>.md-half-circle {
  border-right-color: white;
} */

.circular-progress-button {
  height: 36px;
}

.circular-progress-button > md-progress-circular {
  margin: auto;
  /* margin-bottom: -6px; If circular does not appear at the center, change this value. */
}

.circular-progress-button > md-progress-circular .md-half-circle {
  border-top-color: #ffffff !important;
}

.circular-progress-button > md-progress-circular .md-left > .md-half-circle {
  border-left-color: #ffffff !important;
}

.circular-progress-button > md-progress-circular .md-right > .md-half-circle {
  border-right-color: #ffffff !important;
}

.selectdemoSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */
}
.selectdemoSelectHeader .demo-header-searchbox {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0;
}
.selectdemoSelectHeader .demo-select-header {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  padding-left: 10.667px;
  height: 48px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
}
.selectdemoSelectHeader md-content._md {
  max-height: 240px;
}

/*
Copyright 2018 Google LLC. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be found
in the LICENSE file at http://material.angularjs.org/HEAD/license.
*/

.margin-0 {
  margin: 0px !important;
}

.justify-content-flex-end {
  justify-content: flex-end !important;
}

.image-square-15 {
  height: 15px !important;
  width: 15px !important;
}
