<div ng-controller="CustomerCoLivingPageController">
    <div ng-include="'./pages/contact-us-modal.html'"></div>
    <div ng-include="'./pages/view-demo-modal.html'"></div>    
    <div>
            <section class="fdb-block">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- removed  ml-auto pt-5 pt-md-0 from class -->
                        <div class="col-12 col-md-6">
                            <p class="primary-color">
                              
                            </p>
                            <h1>Giving a great tenancy experience <br> got a lot easier</h1>
                            <div class="d-block d-sm-block d-md-none col-12 col-sm-12 col-md-5 col-lg-5 mb-3">
                                <img alt="image" class="img-fluid" src="./assets/images/co-living.svg">
                            </div>
                            <p class="lead">
                                Robust tools to enable community based living to all your tenants.
                            </p>
                            <p class="mt-4">
                                <!-- <a class="col-12 col-sm-12 col-md-12 col-lg-5 btn btn-primary  m-1" href="/choose-product">START A FREE TRIAL</a> -->
                                <a  style="border-color:  !important" class="offset-lg-1 col-12 col-sm-12 col-md-12 col-lg-5 btn btn-white border border-primary m-1" data-toggle="modal"
                                data-target="#exampleModal">BOOK A FREE DEMO</a>
                            </p>
                        </div>
                        <div class="d-none d-sm-none d-md-block col-10 col-sm-6 col-md-6 col-lg-6 m-auto m-md-0">
                            <img alt="image" class="img-fluid" src="./assets/images/co-living.svg">
                        </div>
                    </div>
                </div>
            </section>
    
            <section class="fdb-block grey-background pt-50 pb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-5 col-md">
                            <h3><strong>$100M </strong></h3>
                            <p>Worth of real estate assets <br> managed through TheHouseMonk</p>
                        </div>
    
                        <div class="col-12 col-sm-5 col-md">
                            <h3><strong>$10M </strong></h3>
                            <p>Payments processed every year</p>
                        </div>
    
                        <div class="col-12 col-sm-5 col-md pt-3 pt-sm-0">
                            <h3><strong>10,000+</strong></h3>
                            <p>Rental properties managed through TheHouseMonk</p>
                        </div>
    
                        <div class="col-12 col-sm-5 col-md pt-3 pt-md-0">
                            <h3><strong>100+</strong></h3>
                            <p>New buildings onboarded with us every month</p>
                        </div>
                    </div>
                </div>
            </section>
    
            <section class="fdb-block" id="explore">
                <div class="container">
                    <div class="row align-items-center">
                    </div>
                    <div class="row align-items-center">
                        <!-- removed  ml-auto pt-5 pt-md-0 from class -->
                        <div class="col-12 offset-lg-1 text-center">
                            <div class="col-12 col-md-9 text-center">
                                <h1>Customized Products To Manage Your Co-Living</h1>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <h2> Communication and Community Management </h2>
                            <div class="d-block d-sm-block d-md-none col-12 col-sm-12 col-md-5 col-lg-5 mb-3">
                                <img alt="image" class="img-fluid" src="./assets/images/chat.svg">
                            </div>
                            <p class="lead">
                                Have a direct communication channel with your tenant and help them better interact with their co-tenants and community
                            </p>
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <i class="fas fa-check primary-color"></i> Digital Notice Board
                                </div>
                                <div class="col-12 col-sm-6">
                                    <i class="fas fa-check primary-color"></i> Local Discussions
                                </div>
                            </div>
                           
                        </div>
                        <div class="col-md-1 col-lg-1"></div>
                        <div class="d-none d-sm-none d-md-block col-10 col-sm-6 col-md-5 col-lg-5 m-auto m-md-0">
                            <img alt="image" class="img-fluid" src="./assets/images/chat.svg">
                        </div>
                    </div>
                </div>
            </section>
    
            <section class="fdb-block">
                <div class="container">
                    <div class="row align-items-center">
                    </div>
                    <div class="row align-items-center">
                            <div class="d-none d-sm-none d-md-block col-10 col-sm-6 col-md-5 col-lg-5 m-auto m-md-0">
                                    <img alt="image" class="img-fluid" src="./assets/images/technology.svg">
                                </div>
                        <div class="col-md-1 col-lg-1"></div>
                        <div class="col-12 col-md-6">
                                <h2>Helpdesk and ticketing</h2>
                                <div class="d-block d-sm-block d-md-none col-12 col-sm-12 col-md-5 col-lg-5 mb-3">
                                    <img alt="image" class="img-fluid" src="./assets/images/technology.svg">
                                </div>
                                <p class="lead">
                                    Enable your community managers to serve customers better through a simple ticketing software
                                </p>
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <i class="fas fa-check primary-color"></i> SLA Tracking
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <i class="fas fa-check primary-color"></i> Integrated feedback system
                                    </div>
                                </div>
                               
                            </div>
                    </div>
                </div>
            </section>
    
    
            <section class="fdb-block">
                <div class="container">
                    <div class="row align-items-center">
                    </div>
                    <div class="row align-items-center">
                        <!-- removed  ml-auto pt-5 pt-md-0 from class -->
                        <div class="col-12 col-md-6">
                                <h2>Rent Collection Simplified</h2>
                                <div class="d-block d-sm-block d-md-none col-12 col-sm-12 col-md-5 col-lg-5 mb-3">
                                    <img alt="image" class="img-fluid" src="./assets/images/rent.svg">
                                </div>
                                <p class="lead">
                                    No more cash and cheque collection hassles. Allow tenants to pay the rent through an app with payment gateway integration that allows easy reconciliation.
                                </p>
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <i class="fas fa-check primary-color"></i> Bulk invoicing
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <i class="fas fa-check primary-color"></i> Alerts, reminders and fines for late payment
                                    </div>
                                </div>
                                
                            </div>
                       
                        <div class="col-md-1 col-lg-1"></div>
                        <div class="d-none d-sm-none d-md-block col-10 col-sm-6 col-md-5 col-lg-5 m-auto m-md-0">
                                <img alt="image" class="img-fluid" src="./assets/images/rent.svg">
                            </div>
                        
                    </div>
                </div>
            </section>

            <section class="fdb-block grey-background pt-0" style="padding: 50px">
            <div class="container">
                <div class="col-md-12">
                <br><br>
                <div class="text-center">
                    <h2>Explore Our Solutions</h2>
                </div>
                </div>
                <div class="offset-md-3 col-md-7 center">
                <p class="mt-4">
                    <!-- <a class="col-12 col-sm-12 col-md-12 col-lg-5 btn btn-primary  m-1" href="/choose-product">START A FREE
                    TRIAL</a> -->
                    <a style="color: gray !important"
                    class="offset-lg-1 col-12 col-sm-12 col-md-12 col-lg-5 btn btn-white border border-primary m-1"
                    data-toggle="modal" data-target="#exampleModal">BOOK A FREE DEMO</a>
                </p>
                </div>
             </div>
            </section>
            
            <section  class="fdb-block">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-12">
                        <h1>3 Simple Reasons To Sign Up With Us</h1>
                        </div>
                    </div>
                
                    <div class="row text-center justify-content-center mt-5">
                        <div class="col-12 col-sm-4 col-xl-3 m-md-auto">
                        <img alt="image" style="height: 100px" src="./img/assets/logo.svg">
                        <h3><strong>Increase Brand Awareness</strong></h3>
                        <p>Launch our white labelled apps under your brand name to your customers</p>
                        </div>
                        <div class="col-12 col-sm-4 col-xl-3 m-auto pt-4 pt-sm-0">
                            <img alt="image" style="height: 100px" src="./img/assets/integrate.svg">
                            <h3><strong>All In 1</strong></h3>
                            <p>Bring all your company functions on 1 platform and integrate operations for a smooth experience </p>
                        </div>
                        <div class="col-12 col-sm-4 col-xl-3 m-auto pt-4 pt-sm-0">
                        <img alt="image" style="height: 100px" src="./img/assets/money.svg">
                        <h3><strong>Save Money</strong></h3>
                        <p>With no setup fee, and a pricing plan that scales with your organization, it's easy to get started</p>
                        </div>
                
                        
                    </div>
                    </div>
                </section>
                <section class="fdb-block grey-background">
                    <div class="container">
                      <div class="row">
                        <div class="col">
                          <div class="fdb-box fdb-touch" style="border-top: solid 5px #FFBC00 !important">
                            <div class="row text-center justify-content-center">
                              <div class="col-12 col-md-9 col-lg-7">
  
                                <h1>Contact Us</h1>
                                <p> Get an instant call back from our team to answer any queries you may have </p>
                              </div>
                            </div>
                  
                            <div class="row justify-content-center pt-4">
                              <div class="col-12 col-md-8">
                                <form name="callbackForm" novalidate>
                                  <div class="row">
                                    <div class="col-12 col-md">
                                        <label>Name: </label>
                                      <input type="text" name="name" ng-disabled="progressBarLoading" class="form-control"
                                        placeholder="Enter your name" ng-model="callbackModalForm.name" required>
                                      <p ng-show="callbackForm.name.$invalid && callbackForm.name.$touched" class="help-block pt-1">name is
                                        required</p>
                                    </div>
                                    <div class="col-12 col-md mt-4 mt-md-0">
                                        <label>Country Code: </label>
                                        <select name="countryCode" ng-model="callbackModalForm.countryCode" ng-init="callbackModalForm.countryCode = '+91'" class="form-control" >
                                          <option ng-repeat="cityObj in citiCodes" value="{{cityObj.code}}">{{cityObj.code}}</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-md mt-4 mt-md-0">
                                      <label>Phone Number: </label>
                                    <input type="number" name="phoneNumber" ng-disabled="progressBarLoading" class="form-control"
                                      placeholder="Enter your phone  number" ng-model="callbackModalForm.phoneNumber" ng-minlength="4" required>
                                    <p ng-show="callbackForm.phoneNumber.$invalid && callbackForm.phoneNumber.$touched" class="help-block pt-1">
                                      phone number is
                                      required and must be length 4</p>
                                  </div>
                                  </div>
                  
                                  <div class="row mt-4">
                                    <div class="col">
                                      <label>Message: </label>
                                      <textarea class="form-control" placeholder="Leave your message here" ng-model="callbackModalForm.message" rows="3"></textarea>
                                    </div>
                                  </div>
                                  <div class="row mt-4">
                                    <div class="col text-center">
                                      <button type="submit" ng-disabled="callbackForm.$invalid" ng-click="onCallbackSubmitHandler(ev)" class="btn btn-primary">Submit</button>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
<!-- <section class="fdb-block bg-dark pt-50 pb-50 primary-background" id="rent-a-home">
            <div class="container">
                <div class="row align-items-center">
                </div>
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <p>CASE STUDY</p>
                        <h2>How Mr. Laxminarayanan is managing properties in multiple cities with TheHouseMonk</h2>
                        <div class="d-block d-sm-block d-md-none col-12 col-sm-12 col-md-5 col-lg-5 mb-3">
                            <img alt="image" class="img-fluid raised" src="./assets/images/blog-4.PNG">
                        </div>
                        <p class="lead">
                            If managing 1 property is tough enough, Mr. Laxminarayanan has 2 - 1 in Chennai and 1 is
                            Bangalore. He signed up with TheHouseMonk to avoid the hassles of managing rental units.
                        </p>

                        <p class="mt-4">
                            <a class="col-12 col-sm-12 col-md-4 col-lg-3 btn btn-dark raised" href="http://blog.thehousemonk.com/index.php/2019/01/11/managing-rental-properties-in-different-cities/"
                                target="_blank">Read
                                more</a>
                        </p>
                    </div>
                    <div class="col-md-1 col-lg-1"></div>
                    <div class="d-none d-sm-none d-md-block col-10 col-sm-6 col-md-5 col-lg-5 m-auto m-md-0">
                        <img alt="image" class="img-fluid raised" src="./assets/images/blog-4.PNG">
                    </div>
                </div>
            </div>

        </section> -->

        <!-- <section class="fdb-block pt-50 pb-50" id="features">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-12">
                            <h1>Key benefits for co-living companies</h1>
                        </div>
                    </div>
                    <div class="row text-left">
                        <div class="col-12 col-md-8 m-auto col-lg-4 p-3">
                            <div class="card raised thm-touch-top" style="width: 100%;height: 190px;">
                                <div class="card-body">
                                    <h3 class="card-title font-weight-bold">
                                        <img src="../assets/imgs/2-rental-icon-tenant.png" style="height:50px;" class="image-fluid"
                                            alt="logo">
                                        Lease Management</h3>
                                    <p class="card-text text-muted">Tenant details, contracts, renewals and more - All in 1 place.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-8 m-auto col-lg-4 p-3">
                            <div class="card raised thm-touch-top" style="width: 100%;height: 190px;">
                                <div class="card-body">
                                    <h3 class="card-title font-weight-bold">
                                        <img src="../assets/imgs/2-rental-icon-documentation.png" style="height:50px;"
                                            class="image-fluid" alt="logo">
                                        Community Management</h3>
                                    <p class="card-text text-muted">Help tenants experience a community based living option</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-8 m-auto col-lg-4 p-3">
                            <div class="card raised thm-touch-top" style="width: 100%;height: 190px;">
                                <div class="card-body">
                                    <h3 class="card-title font-weight-bold">
                                        <img src="../assets/imgs/2-rental-icon-rental.png" style="height:50px;" class="image-fluid"
                                            alt="logo">
                                        Something for everyone</h3>
                                    <p class="card-text text-muted">Your full team and all customers on 1 platform making life easy for all</p>
                                </div>
                            </div>
                        </div>
    
                    </div>
                    <div class="container">
                        <div class="row text-left mt-5">
                            <div class="col-sm-3 col-md-4"></div>
                            <button class="col-12 col-sm-6 col-md-4 btn btn-primary raised" data-toggle="modal" data-target="#callbackModal">Get
                                in touch for
                                free
                                demo</button>
                            <div class="col-sm-3 col-md-4"></div>
                        </div>
                    </div>
                </div>
            </section>
    
    
            <section class="fdb-block pt-50 pb-50 grey-background" id="testimonials">
                <div class="container">
                    <div class="row text-center justify-content-center">
                        <div class="col-md-10 col-lg-7">
                            <h2>Our customer love us!</h2>
                        </div>
                    </div>
    
                    <div class="row mt-5 justify-content-center">
    
                        <div class="col-md-10 col-lg-4 p-3 text-center">
                            <div class="card raised" style="width: 100%;">
                                <div class="card-img-top p-3 pb-5 grey-background" style="min-height:280px;">
                                    <div style="font-size: 18px;">
                                        <i class="fas fa-quote-left primary-color"></i>
                                        TheHouseMonk has been managing more than 20 of my properties in Bangalore for over
                                        3
                                        years now and I
                                        love their service. I get my rent on time and they manage any issue that comes up.
                                        Fantastic solution!</div>
                                </div>
                                <p style="margin-top:-70px;"><img alt="image" height="140" class="rounded-circle raised"
                                        src="./assets/images/john.jpg"></p>
                                <div class="card-body" style="height:120px;">
                                    <p class="lead text-muted">
                                        <strong class="font-weight-bold ">John Louis</strong>
                                    </p>
                                    <p class="text-muted" style="margin-top:-16px;">Owner of Infants Jasmine and Infants
                                        Lotus,
                                        Bangalore</p>
                                </div>
                            </div>
                        </div>
    
    
                        <div class="col-md-10 col-lg-4 p-3 text-center">
                            <div class="card raised" style="width: 100%;">
                                <div class="card-img-top p-3 pb-5 grey-background" style="min-height:280px;background: #FEB94D;">
                                    <div style="font-size: 18px;">
                                        <i class="fas fa-quote-left primary-color"></i>
                                        The team has been handling our 3BHK for a few years now. We are very happy with the
                                        management of the same. It's made our life a lot easier.</div>
                                </div>
                                <p style="margin-top:-70px;"><img alt="image" height="140" width="140" class="rounded-circle raised"
                                        src="./assets/images/vrunda.jpeg"></p>
                                <div class="card-body" style="height:120px;">
                                    <p class="lead text-muted">
                                        <strong class="font-weight-bold ">Vrunda Shirali</strong>
                                    </p>
                                    <p class="text-muted" style="margin-top:-16px;">Owner of 3BHK in RMV Extension,
                                        Bangalore</p>
                                </div>
                            </div>
                        </div>
    
    
                        <div class="col-md-10 col-lg-4 p-3 text-center">
                            <div class="card raised" style="width: 100%;">
                                <div class="card-img-top p-3 pb-5 grey-background" style="min-height:280px;">
                                    <div style="font-size: 18px;">
                                        <i class="fas fa-quote-left primary-color"></i>
                                        Being an NRI, it was very difficult to rent out and manage my 3BHK in Whitefield,
                                        Bangalore. Once I
                                        found TheHouseMonk, all my problems got instantly solved. For almost 3 years now,
                                        they
                                        have completely
                                        taken care of property. Kudos to the team</div>
                                </div>
                                <p style="margin-top:-70px;"><img alt="image" height="140" class="rounded-circle raised"
                                        src="./assets/images/sakina.jpg"></p>
                                <div class="card-body" style="height:120px;">
                                    <p class="lead text-muted">
                                        <strong class="font-weight-bold ">Sakina Sarwath</strong>
                                    </p>
                                    <p class="text-muted" style="margin-top:-16px;">Owner of 3BHK in Nitesh Forest Hills</p>
                                </div>
                            </div>
                        </div>
    
    
                    </div>
                </div>
            </section>
        

            <section class="fdb-block pt-50 pb-50" style="background:#424242;" id="contact-us">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-12 col-lg-3">
                            <h2 class="light-grey-text">Get a call back</h2>
                        </div>
                        <div class="col-12 col-lg-9">
                            <div class="row">
                                <div class="col-12 col-md-4 mb-1">
                                    <input class="form-control" type="text" ng-model="callbackForm.name" placeholder="Name">
                                </div>
                                <div class="col-12 col-md-3 mb-1">
                                    <input class="form-control" type="text" ng-model="callbackForm.phoneNumber" placeholder="Phone">
                                </div>
                                <div class="col-12 col-md-3 mb-2">
                                    <select class="form-control" ng-model="callbackForm.product">
                                        <option value="Building Management">Building Management</option>
                                        <option value="Rental Management">Rental Management</option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-2 mb-1">
                                    <button type="submit" class="col-12 btn btn-dark raised" ng-click="onCallbackSubmitHandler()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
    
        </div>
    </div>