<div ng-controller="PartnerPageController">
  <div ng-include="'./pages/contact-us-modal.html'"></div>

  <section class="fdb-block">
    <div class="container">
      <div class="row align-items-center">
        <!-- removed  ml-auto pt-5 pt-md-0 from class -->
        <div class="col-12 col-md-6">
          <h1>Join Aqaraty partner program</h1>
          <div class="d-block d-sm-block d-md-none col-12 col-sm-12 col-md-5 col-lg-5 mb-3">
            <img alt="image" class="img-fluid" src="./assets/images/partners.svg">
          </div>
          <p class="lead">
            Become a member of the fast growing network of SaaS software resellers and earn rewards.
          </p>
          <p class="mt-4">
            <button class="col-12 col-sm-12 col-md-5 col-lg-5 btn btn-primary raised" data-toggle="modal" data-target="#callbackModal">PARTNER
              WITH US</button>
          </p>
        </div>
        <div class="d-none d-sm-none d-md-block  col-10 col-sm-6 col-md-6 col-lg-6 m-auto m-md-0">
          <img alt="image" class="img-fluid" src="./assets/images/partners.svg">
        </div>
      </div>
    </div>
  </section>

  <section class="fdb-block grey-background pt-50 pb-50">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-5 col-md">
          <h3><strong>50+ partners</strong></h3>
          <p>Already part of our program</p>
        </div>

        <div class="col-12 col-sm-5 col-md">
          <h3><strong>$100k+</strong></h3>
          <p>Payouts already made to partners</p>
        </div>

        <div class="col-12 col-sm-5 col-md pt-3 pt-sm-0">
          <h3><strong>8+ countries</strong></h3>
          <p>Members in all metro cities with extensive coverage</p>
        </div>

        <div class="col-12 col-sm-5 col-md pt-3 pt-md-0">
          <h3><strong>100+ customers</strong></h3>
          <p>Onboarded through our partner network</p>
        </div>
      </div>
    </div>
  </section>

  <section class="fdb-block">
    <div class="container">
      <div class="row align-items-center">
      </div>
      <div class="row align-items-center">
        <!-- removed  ml-auto pt-5 pt-md-0 from class -->
        <div class="col-12 col-md-6">
          <h2>Sales Partner Network</h2>
          <div class="d-block d-sm-block d-md-none col-12 col-sm-12 col-md-5 col-lg-5 mb-3">
            <img alt="image" class="img-fluid" src="./assets/images/sales-partner.svg">
          </div>
          <p class="lead">
            Refer clients to Aqaraty and we will take care of customer onboarding and deal closure.
          </p>
          <div class="row">
            <div class="col-12 col-sm-6">
              <i class="fas fa-check primary-color"></i> Easy to start
            </div>
            <div class="col-12 col-sm-6">
              <i class="fas fa-check primary-color"></i> Light touch point
            </div>
          </div>
          <p class="mt-4">
            <button class="col-12 col-sm-12 col-md-5 col-lg-5 btn btn-primary raised" data-toggle="modal" data-target="#callbackModal">GET
              IN TOUCH WITH US</button>
          </p>
        </div>
        <!-- <div class="col-md-1 col-lg-1"></div> -->
        <div class="d-none d-sm-none d-md-block  col-10 col-sm-6 col-md-6 col-lg-6 m-auto m-md-0">
          <img alt="image" class="img-fluid" src="./assets/images/sales-partner.svg">
        </div>
      </div>
    </div>
  </section>

  <section class="fdb-block grey-background">
    <div class="container">
      <div class="row align-items-center">
      </div>
      <div class="row align-items-center">
        <div class="d-none d-sm-none d-md-block  col-10 col-sm-6 col-md-6 col-lg-6 m-auto m-md-0">
          <img alt="image" class="img-fluid" src="./assets/images/reseller.svg">
        </div>
        <!-- <div class="col-md-1 col-lg-1"></div> -->
        <div class="col-12 col-md-6">
          <h2>Reseller Program</h2>
          <div class="d-block d-sm-block d-md-none col-12 col-sm-12 col-md-5 col-lg-5 mb-3">
            <img alt="image" class="img-fluid" src="./assets/images/reseller.svg">
          </div>
          <p class="lead">
            Buy the product and resell it in your geography or target market and own the customer experience!
          </p>
          <div class="row">
            <div class="col-12 col-sm-6">
              <i class="fas fa-check primary-color"></i> Higher margins on sale
            </div>
            <div class="col-12 col-sm-6">
              <i class="fas fa-check primary-color"></i> Advanced customizations
            </div>
          </div>
          <p class="mt-4">
            <button class="col-12 col-sm-12 col-md-5 col-lg-5 btn btn-primary raised" data-toggle="modal" data-target="#callbackModal">GET
              IN TOUCH WITH US</button>
          </p>
        </div>
      </div>
    </div>
  </section>


  <!-- Contents 11 -->



  <section class="fdb-block pt-50 pb-50" style="background:#424242;" id="contact-us">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-lg-3">
          <h2 class="light-grey-text">Get a call back</h2>
        </div>
        <div class="col-12 col-lg-9">
          <div class="row">
            <div class="col-12 col-md-4 mb-1">
              <input class="form-control" type="text" ng-model="callbackForm.name" placeholder="Name">
            </div>
            <div class="col-12 col-md-3 mb-1">
              <input class="form-control" type="text" ng-model="callbackForm.phoneNumber" placeholder="Phone">
            </div>
            <!-- <div class="col-12 col-md-3 mb-2">
              <select class="form-control" ng-model="callbackForm.product">
                <option value="Building Management">Building Management</option>
                <option value="Rental Management">Rental Management</option>
              </select>
            </div> -->
            <div class="col-12 col-md-2 mb-1">
              <button type="submit" class="col-12 btn btn-dark raised" ng-click="onCallbackSubmitHandler()">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>