<div ng-controller="RentalPageController">
    <div ng-include="'./pages/contact-us-modal.html'"></div>
  
    <section class="fdb-block" id="main">
      <div class="container rental-main-image">
        <div class="row align-items-center text-center">
  
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
          </div>
  
          <div class="col-12 col-md-6">
            <h1>Sit back and relax <br> while we manage your rental property</h1>
            <!-- Home rental simplified. <br> End-to-end property solution. -->
            <div class="d-block d-sm-block d-md-none col-12 col-sm-12 col-md-5 col-lg-5 mb-3">
                <img alt="image" class="img-fluid" src="./assets/imgs/2-rental-header-1.png">
            </div>
            <p class="lead">
              Marketing. Tenanting. And beyond.
              <br> End to end solution for property owners
            </p>
            <p class="mt-4">
              <button class="col-12 col-sm-12 col-md-5 col-lg-5 btn btn-primary" data-toggle="modal" data-target="#callbackModal">GET
                A CALLBACK</button>
            </p>
          </div>
          <div class="col-12 col-sm-6 col-md-3 col-lg-3">
          </div>
  
        </div>
      </div>
    </section>
  
    <section class="fdb-block pt-50 pb-50 grey-background" id="stats">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-5 col-md">
            <h3><strong>10Mn+ sqft</strong></h3>
            <p>Area managed via TheHouseMonk solutions</p>
          </div>
          <div class="offset-sm-1 offset-md-1 col-12 col-sm-5 col-md pt-3 pt-sm-0">
            <h3><strong>10k+ users</strong></h3>
            <p>Users use our solutions daily</p>
          </div>
  
          <div class="offset-md-1 col-12 col-sm-5 col-md pt-3 pt-md-0">
            <h3><strong>10+ cities</strong></h3>
            <p>All metro cities where TheHouseMonk has been deployed</p>
          </div>
  
          <div class="offset-sm-1 offset-md-1 col-12 col-sm-5 col-md pt-3 pt-md-0">
            <h3><strong>100+ service providers</strong></h3>
            <p>Work with us.</p>
          </div>
        </div>
      </div>
    </section>
  
    <section class="fdb-block pt-50 pb-50" id="learn-more">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 text-center">
            <h2>Why TheHouseMonk</h2>
          </div>
          <div class="d-block d-sm-block d-md-block d-lg-none col-12 col-sm-12 col-md-10 mb-3">
            <iframe style="width:100%;height:300px;" src="https://www.youtube.com/embed/OPFtC0Tl8k0" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="row align-items-center ml-5 mr-5">
          <div class="col-12 col-sm-6 col-lg-3 text-center">
            <div>
              <img alt="image" class="img-fluid" style="height:100px;" src="./assets/imgs/blob-icon-property.png">
              <p>Professionally managed <br> rental properties</p>
            </div>
            <div>
              <img alt="image" class="img-fluid" style="height:100px;" src="./assets/imgs/blob-icon-feature.png">
              <p>Top class property <br> management software</p>
            </div>
          </div>
  
          <div class="col-12 col-sm-6 col-lg-3 order-lg-12 text-center">
            <div>
              <img alt="image" class="img-fluid" style="height:100px;" src="./assets/imgs/blob-icon-support.png">
              <p>Customer support <br> Anywhere, 24 x 7</p>
            </div>
            <div>
              <img alt="image" class="img-fluid" style="height:100px;" src="./assets/imgs/blob-icon-mobile.png">
              <p>Mobile first tech <br> on the go</p>
            </div>
          </div>
  
          <div class="d-none d-sm-none d-md-none d-lg-block col-12 col-sm-12 col-lg-6">
            <iframe style="width:100%;height:350px;" src="https://www.youtube.com/embed/OPFtC0Tl8k0" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>
  
    <!-- Feature 28 -->
    <section class="fdb-block grey-background pt-50 pb-50" id="features">
      <div class="container">
        <div class="row text-center">
          <div class="col-12">
            <h1>Outsource complete management of your rental property to us</h1>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-12 col-md-8 m-auto col-lg-4 p-3">
            <div class="card raised thm-touch-top" style="width: 100%;height: 190px;">
              <div class="card-body">
                <h3 class="card-title font-weight-bold">
                  <img src="../assets/imgs/2-rental-icon-tenant.png" style="height:50px;" class="image-fluid" alt="logo">
                  Tenanting</h3>
                <p class="card-text text-muted">Why bother with portals and brokers? TheHouseMonk will find tenants for
                  your property</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-8 m-auto col-lg-4 p-3">
            <div class="card raised thm-touch-top" style="width: 100%;height: 190px;">
              <div class="card-body">
                <h3 class="card-title font-weight-bold">
                  <img src="../assets/imgs/2-rental-icon-documentation.png" style="height:50px;" class="image-fluid" alt="logo">
                  Documentation</h3>
                <p class="card-text text-muted">Tenant background checks, rental agreements and more - TheHouseMonk will
                  do it all.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-8 m-auto col-lg-4 p-3">
            <div class="card raised thm-touch-top" style="width: 100%;height: 190px;">
              <div class="card-body">
                <h3 class="card-title font-weight-bold">
                  <img src="../assets/imgs/2-rental-icon-rental.png" style="height:50px;" class="image-fluid" alt="logo">
                  Rent Default Guarantee</h3>
                <p class="card-text text-muted">You will get your rent by the 7th of the month - even if the tenants pay
                  late.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-8 m-auto col-lg-4 p-3">
            <div class="card raised thm-touch-top" style="width: 100%;height: 190px;">
              <div class="card-body">
                <h3 class="card-title font-weight-bold">
                  <img src="../assets/imgs/2-rental-icon-maintenance.png" style="height:50px;" class="image-fluid" alt="logo">
                  Home Maintenance</h3>
                <p class="card-text text-muted">Leaky faucet? A coat of painting? TheHouseMonk will take care of it.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-8 m-auto col-lg-4 p-3">
            <div class="card raised thm-touch-top" style="width: 100%;height: 190px;">
              <div class="card-body">
                <h3 class="card-title font-weight-bold">
                  <img src="../assets/imgs/2-rental-icon-report.png" style="height:50px;" class="image-fluid" alt="logo">
                  Property Inspection</h3>
                <p class="card-text text-muted">TheHouseMonk will periodically inspect your property and send you a
                  report.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-8 m-auto col-lg-4 p-3">
            <div class="card raised thm-touch-top" style="width: 100%;height: 190px;">
              <div class="card-body">
                <h3 class="card-title font-weight-bold">
                  <img src="../assets/imgs/2-rental-icon-movein-out.png" style="height:50px;" class="image-fluid" alt="logo">
                  Move-in/Move-Out Support</h3>
                <p class="card-text text-muted">Whether entering or exiting, TheHouseMonk will handhold the tenants
                  through the process.</p>
              </div>
            </div>
          </div>
        </div>
  
        <div class="container">
          <div class="row text-left mt-5">
            <div class="col-sm-3 col-md-4"></div>
            <button class="col-12 col-sm-6 col-md-4 btn btn-primary raised" data-toggle="modal" data-target="#callbackModal">GET
              IN TOUCH FOR RENTAL SOLUTION</button>
            <div class="col-sm-3 col-md-4"></div>
          </div>
        </div>
      </div>
    </section>
  
  
    <section class="fdb-block">
      <div class="container">
        <div class="row text-center">
          <div class="col-12">
            <h1>Get started in 3 simple steps</h1>
          </div>
        </div>
  
        <div class="row text-center justify-content-center mt-5">
          <div class="col-12 col-sm-3 col-md-2 m-md-auto">
            <img alt="image" class="img-fluid" style="height:100px;" src="./assets/imgs/blob-icon-call.png">
            <h3><strong>Give us a call</strong></h3>
            <p>Reach out to <br> us</p>
          </div>
          <div class="d-none d-sm-block col-sm-1 col-md-2 pt-4">
            <hr class="horizontal-line">
          </div>
          <div class="d-block d-sm-none col-12 vertical-line">
          </div>
          <div class="col-12 col-sm-3 m-auto pt-4 pt-sm-0">
            <img alt="image" class="img-fluid" style="height:100px;" src="./assets/imgs/blob-icon-inspection.png">
            <h3><strong>Complete Inpection</strong></h3>
            <p>Our property manager will do an inspection of the property</p>
          </div>
          <div class="d-none d-sm-block col-sm-1 col-md-2 pt-4">
            <hr class="horizontal-line">
          </div>
          <div class="d-block d-sm-none col-12 vertical-line">
          </div>
          <div class="col-12 col-sm-3 m-auto pt-4 pt-sm-0">
            <img alt="image" class="img-fluid" style="height:100px;" src="./assets/imgs/blob-icon-paperwork.png">
            <h3><strong>Finalize the paperwork</strong></h3>
            <p>Sign the service <br> agreement</p>
          </div>
        </div>
      </div>
    </section>
  
    <!-- <section class="fdb-block bg-dark pt-50 pb-50 primary-background" id="rent-a-home">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-lg-5">
            <h2>Looking to rent a home?</h2>
            <p>We own your tenancy experience – from search, to signing and beyond. Rent a home managed through
              TheHouseMonk!
            </p>
          </div>
          <div class="col-12 col-lg-7 text-center">
            <div class="row">
              <div class="col-12 col-md-4 mb-1">
                <select class="form-control">
                  <option value="Bangalore" selected>Bangalore</option>
                  <option value="Chennai">Chennai</option>
                  <option value="Delhi">Delhi</option>
                </select>
              </div>
              <div class="col-12 col-md-6 mb-2">
                <input class="form-control" type="text" placeholder="Area you want to live in">
              </div>
              <div class="col-12 col-md-2 mb-2">
                <a href="https://www.cozee.in/search/flats-for-rent-in-bengaluru?city=Bangalore" target="_blank" class="col-12 btn btn-dark raised">Search</a>
              </div>
            </div>
            <div class="row">
                  <div class="row" style="margin:16px;">
                    <a class="text-light pr-3" href="#">Bangalore</a>
                    <a class="text-light pr-3" href="#">/</a>
                    <a class="text-light pr-3" href="#">Indiranagar</a>
                    <a class="text-light pr-3" href="#">Whitefield</a>
                    <a class="text-light pr-3" href="#">Kalyan Nagar</a>
                  </div>
                  <div class="row" style="margin-left:16px;">
                    <a class="text-light pr-3" href="#">Chennai</a>
                    <a class="text-light pr-3" href="#">/</a>
                    <a class="text-light pr-3" href="#">Sholinganallur</a>
                    <a class="text-light pr-3" href="#">Nungambakkam</a>
                    <a class="text-light pr-3" href="#">Porur</a>
                  </div>
                </div> 
          </div>
        </div>
      </div>
    </section> -->
  
    <section class="fdb-block pt-50 pb-50 grey-background">
      <div class="container align-items-end justify-content-center d-flex">
        <div class="row align-items-top text-left">
          <div class="col-12 col-md-6 col-lg-5 text-left">
            <h1>Monitor your home through our app!</h1>
            <p class="lead">Use TheHouseMonk app to stay updated with all activities in your property including tenant
              information and documents, rent and deposit details, maintenance issues, and much more.</p>
              <div class="row">
            <a class="col-6" href="https://play.google.com/store/apps/details?id=com.cozeehomes.tenantapp&hl=en"
              target="_blank">
              <img src="../assets/imgs/app-icons-android.png" alt="Apple Download" height="60">
            </a>
            <a class="col-6" style="padding-left: 0px" href="https://itunes.apple.com/us/app/cozee-homes/id1158917018?mt=8"
              target="_blank">
              <img src="../assets/imgs/app-icons-apple.png" alt="Apple Download" height="60">
            </a>
            </div>
          </div>
  
          <div class="col-12 col-sm-4 col-md-6 col-lg-6 m-auto pt-5">
            <!-- TODO: App Download button  -->
            <img alt="image" class="img-fluid rounded-0" src="../assets/imgs/2-rental-tablet.png">
          </div>
        </div>
      </div>
    </section>
  
    <section class="fdb-block pt-50">
      <div class="container">
        <div class="row align-items-center">
        </div>
        <div class="row align-items-center">
          <!-- removed  ml-auto pt-5 pt-md-0 from class -->
          <div class="col-12 col-md-6">
            <h2>Financial benefit</h2>
            <div class="d-block d-sm-block d-md-none col-12 col-sm-12 col-md-5 col-lg-5 mb-3">
              <img alt="image" class="img-fluid" src="../assets/imgs/2-rental-feature-1.png">
            </div>
            <p class="lead">
              Rental returns on your property are guaranteed to be higher when you work with TheHouseMonk.
            </p>
            <div class="row">
              <div class="col-12">
                <i class="fas fa-check primary-color"></i> Avoid vacancy loss
              </div>
              <div class="col-12">
                <i class="fas fa-check primary-color"></i> Cheaper home maintenance
              </div>
              <div class="col-12">
                <i class="fas fa-check primary-color"></i> No brokerage
              </div>
            </div>
          </div>
          <div class="col-md-1 col-lg-1"></div>
          <div class="d-none d-sm-none d-md-block col-10 col-sm-6 col-md-5 col-lg-5 m-auto m-md-0">
            <img alt="image" class="img-fluid" src="../assets/imgs/2-rental-feature-1.png">
          </div>
        </div>
      </div>
    </section>
  
    <section class="fdb-block pb-50">
      <div class="container">
        <div class="row align-items-center">
        </div>
        <div class="row align-items-center">
          <div class="d-none d-sm-none d-md-block col-10 col-sm-6 col-md-5 col-lg-5 m-auto m-md-0">
            <img alt="image" class="img-fluid" src="../assets/imgs/2-rental-feature-2.png">
          </div>
          <div class="col-md-1 col-lg-1"></div>
          <div class="col-12 col-md-6">
            <h2>Convenience</h2>
            <div class="d-block d-sm-block d-md-none col-12 col-sm-12 col-md-5 col-lg-5 mb-3">
              <img alt="image" class="img-fluid" src="../assets/imgs/2-rental-feature-2.png">
            </div>
            <p class="lead">
              Why take the effort of managing your property when we will do it for you?
            </p>
            <div class="row">
              <div class="col-12">
                <i class="fas fa-check primary-color"></i> Easy tenanting
              </div>
              <div class="col-12">
                <i class="fas fa-check primary-color"></i> Hassle-free home maintenance
              </div>
              <div class="col-12">
                <i class="fas fa-check primary-color"></i> Track and monitor
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section class="fdb-block pt-50 pb-50 grey-background" id="testimonials">
      <div class="container">
        <div class="row text-center justify-content-center">
          <div class="col-md-10 col-lg-7">
            <h2>Our customer love us!</h2>
          </div>
        </div>
  
        <div class="row mt-5 justify-content-center">
  
          <div class="col-md-10 col-lg-4 p-3 text-center">
            <div class="card raised" style="width: 100%;">
              <div class="card-img-top p-3 pb-5 grey-background" style="min-height:280px;">
                <div style="font-size: 18px;">
                  <i class="fas fa-quote-left primary-color"></i>
                  TheHouseMonk has been managing more than 20 of my properties in Bangalore for over 3 years now and I
                  love their service. I get my rent on time and they manage any issue that comes up. Fantastic solution!</div>
              </div>
              <p style="margin-top:-70px;"><img alt="image" height="140" class="rounded-circle raised" src="./assets/images/john.jpg"></p>
              <div class="card-body" style="height:120px;">
                <p class="lead text-muted">
                  <strong class="font-weight-bold ">John Louis</strong>
                </p>
                <p class="text-muted" style="margin-top:-16px;">Owner of Infants Jasmine and Infants Lotus, Bangalore</p>
              </div>
            </div>
          </div>
  
  
          <div class="col-md-10 col-lg-4 p-3 text-center">
            <div class="card raised" style="width: 100%;">
              <div class="card-img-top p-3 pb-5 grey-background" style="min-height:280px;background: #FEB94D;">
                <div style="font-size: 18px;">
                  <i class="fas fa-quote-left primary-color"></i>
                  The team has been handling our 3BHK for a few years now. We are very happy with the management of the
                  same. It's made our life a lot easier.</div>
              </div>
              <p style="margin-top:-70px;"><img alt="image" height="140" width="140" class="rounded-circle raised" src="./assets/images/vrunda.jpeg"></p>
              <div class="card-body" style="height:120px;">
                <p class="lead text-muted">
                  <strong class="font-weight-bold ">Vrunda Shirali</strong>
                </p>
                <p class="text-muted" style="margin-top:-16px;">Owner of 3BHK in RMV Extension, Bangalore</p>
              </div>
            </div>
          </div>
  
  
          <div class="col-md-10 col-lg-4 p-3 text-center">
            <div class="card raised" style="width: 100%;">
              <div class="card-img-top p-3 pb-5 grey-background" style="min-height:280px;">
                <div style="font-size: 18px;">
                  <i class="fas fa-quote-left primary-color"></i>
                  Being an NRI, it was very difficult to rent out and manage my 3BHK in Whitefield, Bangalore. Once I
                  found TheHouseMonk, all my problems got instantly solved. For almost 3 years now, they have completely
                  taken care of property. Kudos to the team</div>
              </div>
              <p style="margin-top:-70px;"><img alt="image" height="140" class="rounded-circle raised" src="./assets/images/sakina.jpg"></p>
              <div class="card-body" style="height:120px;">
                <p class="lead text-muted">
                  <strong class="font-weight-bold ">Sakina Sarwath</strong>
                </p>
                <p class="text-muted" style="margin-top:-16px;">Owner of 3BHK in Nitesh Forest Hills</p>
              </div>
            </div>
          </div>
  
  
        </div>
      </div>
    </section>
  
  
    <section class="fdb-block pt-50 pb-50" style="background:#424242;" id="contact-us">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-lg-3">
            <h2 class="light-grey-text">Get a call back</h2>
          </div>
          <div class="col-12 col-lg-9">
            <div class="row">
              <div class="col-12 col-md-4 mb-1">
                <input class="form-control" type="text" ng-model="callbackForm.name" placeholder="Name">
              </div>
              <div class="col-12 col-md-3 mb-1">
                <input class="form-control" type="text" ng-model="callbackForm.phoneNumber" placeholder="Phone">
              </div>
              <div class="col-12 col-md-3 mb-2">
                <select class="form-control" ng-model="callbackForm.product">
                  <option value="Building Management">Building Management</option>
                  <option value="Rental Management">Rental Management</option>
                </select>
              </div>
              <div class="col-12 col-md-2 mb-1">
                <button type="submit" class="col-12 btn btn-dark raised" ng-click="onCallbackSubmitHandler()">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  
  </div>